@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #737373;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Dancing Script", cursive;
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ol {
  list-style-type: none;
  padding: .2em;
  margin: .2em;
}

nav ol a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

nav ol a:hover {
  color: #262626;
  background-color: #ccc;
}

h2, h3 {
  font-family: "Dancing Script", cursive;
}

p {
  font-family: "Open Sans", sans-serif;
}

.special {
  background-color: #b3b3b3;
}

.special-content {
  text-align: center;
}

.special-content h2 {
  font-size: 2em;
  padding: .2em;
  margin: .1em;
}

.special-content p {
  margin: 0;
  padding-bottom: .3em;
  color: #f2f2f2;
}

.menu-img {
  width: 25%;
  margin: 0;
}

.menu {
  margin: .5em;
}

.menu-box {
  display: block;
}

.menu-content h2 {
  display: inline-block;
  margin-bottom: 0;
}

.menu-content p {
  margin: 0;
  padding: .3em;
}

.hours {
  display: inline-block;
  background-color: #e6e6e6;
  margin: 0;
  margin-bottom: 1em;
}

.hours h2 {
  text-align: center;
  font-size: 2rem;
}

.hours-img {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.hours-box {
  width: 50%;
  text-align: center;
}

.hours-box1 {
  float: left;
}

.hours-box2 {
  float: left;
}

.hours-btn {
  text-decoration: none;
  color: #000;
}

.btn {
  display: inline-block;
  background-color: #e6e6e6;
  border-radius: 3px;
  padding: .4em .3em;
  font-size: 1.125rem;
  margin: .2em;
}

.btn:hover {
  background-color: #8c8c8c;
}

.location {
  background-color: #b3b3b3;
  margin: .1em;
  padding: .4em;
}

.location-img {
  padding: .5em;
}

.location-content h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: .2em;
}

.location-btn {
  text-decoration: none;
  color: #000;
}

.contact {
  position: relative;
  padding: .2em;
  overflow: visible;
}

figure {
  position: absolute;
  left: -.5em;
  width: 25%;
}

figcaption {
  font-family: "Dancing Script", cursive;
  font-size: 1.25rem;
}

.contact h2 {
  position: absolute;
  right: .6em;
  bottom: -4em;
}

.review {
  background-color: #e6e6e6;
  margin-top: 8em;
}

.review-img {
  padding: 2em;
}

.review-content {
  padding: .2em;
}

.review-content h2 {
  font-size: 2rem;
  text-align: center;
}

blockquote {
  font-size: .875rem;
}

cite {
  font-family: "Dancing Script", cursive;
}

footer p {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #737373;
  text-align: center;
  font-style: italic;
  font-size: .875rem;
  padding: 0;
  margin: 0;
}
