@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 "Open Sans", sans-serif, "Dancing Script", cursive;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #737373;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Dancing Script", cursive;
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ol {
  list-style-type: none;
  padding: .2em;
  margin: .2em;
}

nav ol a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

nav ol a:hover {
  color: #262626;
  background-color: #ccc;
}

h2, h3 {
  font-family: "Dancing Script", cursive;
}

p {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.special {
  background-color: #b3b3b3;
}

.special-content {
  text-align: center;
}

.special-content h2 {
  font-size: 2em;
  padding: .2em;
  margin: .1em;
}

.special-content p {
  margin: 0;
  padding-bottom: .3em;
  color: #f2f2f2;
}

.menu-img {
  width: 25%;
  margin: 0;
}

.menu {
  margin: .5em;
}

.menu-box {
  display: block;
}

.menu-content h2 {
  display: inline-block;
  margin-bottom: 0;
  padding: .3em;
}

.menu-content p {
  margin: 0;
  padding: .3em;
  font-size: .875rem;
}

.hours {
  display: inline-block;
  background-color: #e6e6e6;
  margin: 0;
  margin-bottom: 1em;
}

.hours h2 {
  text-align: center;
  font-size: 2rem;
}

.hours-img {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.hours-box {
  width: 50%;
  text-align: center;
}

.hours-box1 {
  float: left;
}

.hours-box2 {
  float: left;
}

.hours-btn {
  text-decoration: none;
  color: #000;
}

.btn {
  display: inline-block;
  background-color: #e6e6e6;
  border-radius: 3px;
  padding: .4em .3em;
  font-size: 1.125rem;
  margin: .2em;
}

.btn:hover {
  background-color: #8c8c8c;
}

.location {
  background-color: #b3b3b3;
  margin: .1em;
  padding: .4em;
}

.location-img {
  padding: .5em;
}

.location-content h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: .2em;
}

.location-btn {
  text-decoration: none;
  color: #000;
}

.contact {
  position: relative;
  padding: .2em;
  overflow: visible;
}

figure {
  position: absolute;
  left: -.5em;
  width: 25%;
}

figcaption {
  font-family: "Dancing Script", cursive;
  font-size: 1.25rem;
}

.contact h2 {
  position: absolute;
  right: .6em;
  bottom: -4em;
}

.review {
  background-color: #e6e6e6;
  margin-top: 8em;
}

.review-img {
  padding: 2em;
}

.review-content {
  padding: .2em;
}

.review-content h2 {
  font-size: 2rem;
  text-align: center;
}

blockquote {
  font-size: .875rem;
}

cite {
  font-family: "Dancing Script", cursive;
}

footer {
  color: #fff;
  background-color: #737373;
  text-align: center;
  font-style: italic;
  font-size: .875rem;
  padding: .5em 0;
  margin: 0;
}

@media only screen and (min-width: 25em) {

  html {
    font: normal 100%/1.3 "Open Sans", sans-serif, "Dancing Script", cursive;
    font-size: 100%;
    line-height: 1.3;
  }

  header nav {
    text-align: center;
  }

  header nav li {
    display: inline-block;
    text-align: center;
    padding: .2em;
    margin: .2em;
  }

  .contact {
    position: relative;
    padding: .2em;
    overflow: visible;
    margin-bottom: 9em;
  }

  figure {
    position: absolute;
    left: .7em;
    width: 25%;
  }

  figcaption {
    font-family: "Dancing Script", cursive;
    font-size: 1.25rem;
    text-align: center;
  }

  .contact h2 {
    position: absolute;
    right: 2em;
    bottom: -4em;
  }

  .review {
    padding: 0 .3em;
    margin-top: 7em;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font: normal 110%/1.4 "Open Sans", sans-serif, "Dancing Script", cursive;
    font-size: 110%;
    line-height: 1.4;
  }

  .menu {
    display: inline-block;
  }

  .menu-img {
    display: inline-block;
  }

  .menu-content {
    display: inline-block;
  }

  .hours {
    margin-bottom: 0;
  }

  .contact {
    margin-bottom: 12em;
  }

  figure {
    position: absolute;
    left: 5em;
    width: 25%;
  }

  .contact h2 {
    position: absolute;
    right: 5em;
    bottom: -5em;
  }

  .review-img {
    padding: 0 .2em 2em;
  }

  .review-content h2 {
    margin-top: 0;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font: normal 120%/1.5 "Open Sans", sans-serif, "Dancing Script", cursive;
    font-size: 120%;
    line-height: 1.5;
  }

  h1 {
    display: inline-block;
    padding-left: .3em;
  }

  header nav {
    display: inline-block;
  }

  .hours {
    width: 100%;
  }

  .hours h3 {
    margin-bottom: 0;
  }

  .location {
    padding: 0;
    margin: 0;
  }

  .location-img {
    position: relative;
    width: 100%;
    padding: 0;
  }

  .location-content {
    position: absolute;

  }

}

@media only screen and (min-width: 90em) {

  html {
    font: normal 130%/1.5 "Open Sans", sans-serif, "Dancing Script", cursive;
    font-size: 130%;
    line-height: 1.5;
  }

}
